
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <img src="/images/Chatty Chatbot.jpg" style="width:200px;">
  </div>
  <div class="col-md-4">
    <h3>Say hello to Chatty the Chatbot. He's always waiting for someone to chat.</h3>
    <button type="button" class="hello">Hello Chatty the Chatbot.</button>
    <ul style="list-style: none;" id="conversation"></ul>
  </div>
  <div class="col-md-3">
    <img src="/images/Homer.jpg" style="width:200px;">
  </div>
  <div class="col-md-1"></div>
</div>
